/AUTHORS
/changelog
/cmake
/CMakeLists.txt
/extension
/generate-pot-file.sh
/INSTALL
/LICENSE
/po
/polkit
/README.mkd

debian/*.log
debian/*.debhelper
debian/*.substvars
debian/nautilus-admin
debian/files
obj-x86_64-linux-gnu
/.pc
