/AUTHORS
/changelog
/cmake
/CMakeLists.txt
/CONTRIBUTING.md
/extension
/generate-pot-file.sh
/INSTALL.md
/LICENSE
/nautilus-admin.appdata.xml
/NEWS
/po
/polkit
/README.md

debian/*.log
debian/*.debhelper
debian/*.substvars
debian/nautilus-admin
debian/files
obj-x86_64-linux-gnu
/.pc
